* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:League Spartan ;
}
body {
  padding: 100px;
}
p {
  line-height: 1.5;
}
.section1 {
  display: flex;
  flex-direction: row;
  margin: 30px;
}
.text {
  h1 {
    text-align: left;
    width: 300px;
    color: hsl(300, 43%, 22%);
    margin: 20px 0px;
    font-size: 35px;
  }
  p {
    text-align: left;
    width: 340px;
  }
}
.reviews {
  margin: 20px 0px 0px 200px;
  align-self: center;
}
.reviews div {
  background-color: hsl(300, 24%, 96%);
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  width: 400px;
}
.review-text {
  color: hsl(300, 43%, 22%);
}

.review-block1 {
  margin: 0px 0px 0px 0px;
}
.review-block2 {
  margin: 10px 0px 10px 20px;
}
.review-block3 {
  margin: 10px 0px 0px 40px;
}
.section2 {
  margin: 30px;
}
.comments {
  display: flex;
  flex-direction: row;
}
.comments div {
  background-color: hsl(300, 43%, 22%);
  border-radius: 5px;
  padding: 20px;
  height: 240px;
}
.comments {
  .comment-block1 {
    margin: 0px 10px 0px 0px;
  }
  .comment-block2 {
    margin: 15px 10px;
  }
  .comment-block3 {
    margin: 30px 10px;
  }
}

.comments div span {
  display: inline-block;
  padding: 8px;
}
.comments div span img {
  width: 50px;
  border-radius: 50%;
}
.name {
  margin: 10px 0px;
}
.comments div span h3 {
  color: white;
}
.comments div span h4 {
  color: hsl(333, 80%, 67%);
}
.comments div p {
  color: white;
}

@media screen and (max-width: 400px) {
  body {
    padding: 0px;
  }
  .section1 {
    display: flex;
    flex-direction: column;
  }
  .text {
    h1 {
      text-align: center;
      width: 300px;
      margin: 20px 0px;
    }
    p {
      text-align: center;
      width: 300px;
    }
  }
  .reviews {
    margin: 0px;
    justify-self: center;
    padding: 20px;
  }
  .review-stars{
    margin: 10px 0px;
  }
  .review-block1 {
    margin: 0px 0px;
  }
  .review-block2 {
    margin: 10px 0px;
  }
  .review-block3 {
    margin: 0px 0px;
  }
  .reviews div {
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  .review-block1 {
    margin: 0px 0px;
  }
  .review-block2 {
    margin: 10px 0;
  }
  .review-block3 {
    margin: 10px 0px;
  }
  .section2 {
    margin: 30px;
  }
  .comments {
    display: flex;
    flex-direction: column;
  }
  .comments div {
    border-radius: 5px;
    height: 240px;
    width: 300px;
  }
  .comments {
    .comment-block1 {
      margin: 10px;
    }
    .comment-block2 {
      margin: 10px;
    }
    .comment-block3 {
      margin: 10px;
    }
  }

 
 
  .name {
    margin: 10px 0px;
 }
  
}